<table class="table table-bordered table-hover table-striped">
    <thead class="table-dark">
        <th>Categoria</th>
        <th>Remover</th>
    </thead>
    <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>
                    <a href="{% url 'finance:categories_delete' category.pk %}" class="btn btn-danger btn-sm"><i class="bi bi-trash3-fill"></i></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>