<table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Descrição</th>
            <th>Valor esperado</th>
            <th>Valor real</th>
            <th>Dia do mês</th>
        </tr>
    </thead>
    <tbody>
        {% for item in income %}
            <tr>
                <td>{{ item.description }} ({{ item.category }})</td>
                <td>R$ {{ item.expected_value|floatformat:2 }}</td>
                <td>R$ {{ item.real_value|floatformat:2 }}</td>
                <td>{{ item.day_recurrency }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>