{% extends 'base.html' %}
{% block title %}Renda{% endblock title %}
{% block content %}

    {% include 'partials/navbar.html' %}

    <div class="container mt-3">
        <h1 class="display-5">Listagem de rendas</h1>

        <a href="{% url 'finance:income_manage' %}" class="btn btn-dark my-3">Gerenciar</a>

        <div class="row">
            <div class="col-md-8">
                {% include './partials/income_list_table.html' %}
            </div>
            <div class="col-md-4">
                <table class="table table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th colspan="2" class="text-center">TOTAL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Valor esperado</th>
                            <td>R$ {{ total_expected_value|floatformat:2 }}</td>
                        </tr>
                        <tr>
                            <th>Valor real</th>
                            <td>R$ {{ total_real_value|floatformat:2 }}</td>
                        </tr>
                        <tr>
                            <th>Relação renda</th>
                            <td 
                                {% if relation < 0 %}
                                    class="text-danger"
                                {% else %}
                                    class="text-success"
                                {% endif %}>
                                R$ {{ relation|floatformat:2 }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock content %}